* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: color url repeat position/size;*/
    background: url(./images/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

#container { 
    width: 22.5rem;
    margin: 3.5rem auto 0px;
}

#profile {
    text-align: center;
    padding: 1.5rem;
}

#profile img {
    width: 7rem;
    margin: auto;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 0.5rem;
}

/*Links*/
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.10));
    border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.50));
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
}